<nav class="navbaro">
<%= link_to "Home", restaurants_path %>
<%= link_to "Add a new restaurant", new_restaurant_path %>
</nav>
<ul>
<% @restaurants.each do |restaurant| %>
	<%= link_to restaurant.name, restaurant_path(restaurant) %><br>
<% end %>
</ul>
